@import url("fonts.css");

.container-fluid
{
	min-width: 360px;
	padding: 0;
}

/* Header Section*/
.header
{
	max-width: 1200px;

	font-family: "ProximaNova";

	margin: 0 auto;
}

.wr_logo_contacts /* Сenter the Block on the Vertical*/
{
	display: flex;
	align-items: center;

	margin: 0;
}

.image
{
	margin: 8px;
	margin-bottom: 8px;
}

.wr_phone_feedback_contacts
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.phone,
.feedback,
.contacts
{
	min-width: 160px;
	display: flex;
	justify-content: flex-end;

	font-size: 18px;

	padding: 0;
}

/*.phone a,
.feedback a,
.contacts a
{
	margin: 0;
}*/

.feedback a
{
	padding: 3px;
	border: 1px solid #FF9E15;
	border-radius: 10px;
}

.contacts
{
	text-transform: uppercase;
}

/*Mobile Menu*/
.menu_mobile
{
	display: none;
	justify-content: flex-end;

	position: relative;
}

.glyphicon-menu-hamburger
{
	font-size: 24px;

	border: 1px solid #FF9E15;
	border-radius: 5px;
	padding: 5px;
}

.glyphicon-menu-hamburger:hover
{
	cursor: pointer;
	color: #FF9E15;
}

.nav_mobile
{
	display: none;
	position: absolute;
	top: 37px;
	min-width: 300px;

	color: #000;
	background-color: rgba(255,255,255,.9);

	border-radius: 5px;
}

.header .nav_mobile .nav li a
{
	color: #000;
}

.nav_mobile
{
	position: absolute;
	min-width: 300px;
}
/*End Mobile Menu*/

/*Navigation menu*/
.nav_menu
{	
	background-color: #AEAEAE;

	margin: 0;
}

.header .nav-pills
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.header .nav li a
{
	font-size: 20px;

	color: #FFF;
	padding-top: 5px;
	padding-bottom: 5px;
}

.header .nav li a:hover
{
	color: #FF9E15;
	background-color: transparent;
}
/*End Navigation Menu*/
/* End Header Section*/


/* Section1 */
.section1
{
	width: 100%;
	height: 800px;

	display: flex;
	align-items: center;
	
	background: url("../img/hs_showroom_poster.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
}

.wr_show_room
{
	width: 1200px;
	margin: 0 auto;
}

.show_room
{
	font-size: 40px;	
	color: #000;
	text-align: center;
	background-color: rgba(255,255,255,.9);
	/*align-content: center;*/
}
/*End Section1*/

/* Form */
.wr_form
{
	max-width: 1200px;

	margin: 0 auto 125px;
}

.wr_form form
{
	margin: 0 auto;
}

form h2
{
	font-size: 30px;
	color: #FF9E15;
	text-align: center;
	text-transform: uppercase;

	margin-bottom: 0;
}

form .form-control,
.bl_select_date,
.bl_select_system
{
	max-width: 365px;
	height: 45px;

	font-size: 15px;

	margin-top: 25px;
	border: 1px solid #FF9E15;
	border-radius: initial;
}

.bl_select_date,
.bl_select_system
{
	display: flex;
	align-items: center;
}

.bl_select_date p,
.bl_select_system p
{
	font-size: 15px;
	font-weight: 400;
	color: #9D9D9C;
	text-transform: uppercase;

	margin: 0;
	padding: 0;
}

.form-control.select_date_num,
.form-control.select_date_month,
.form-control.select_system
{
	width: 55px;
	height: 15px;
	
	font-size: 8px;
	color: #FFF;
	margin: 0;
	padding: 0;
	background-color: #9D9D9C;
	border: none;
}

.form-control.select_system
{
	width: 85px;

	text-transform: uppercase;
}

.sel1,
.sel2
{
	margin: 0;
	padding: 0;
}

.sel2
{
	margin: 10px;
}

form .btn
{
	height: 45px;

	font-size: 16px;
	color: #FFF;
	text-transform: uppercase;

	background-color: #FF9E15;
	margin-top: 25px;
	border-color: #FF9E15;
	border-radius: initial;
}

form p
{
	font-size: 12px;
	font-weight: 600;

	padding-top: 15px;
	padding-left: 20px;
}

/*End Form*/


/* Footer */
.wr_footer
{
	background-color: #1D1D1B;
}

.footer
{
	max-width: 1200px;

	margin: 0 auto;
	padding: 100px 10px;
}

.footer
{
	display: flex;
	justify-content: space-between;
}

.footer address
{
	padding: 0;
}

.footer ul li a,
.footer ul li
{
	font-size: 18px;
	color: #fff;
}

.footer ul li
{
	padding: 5px;
}

.footer ul li a
{
	padding: 0;
}

.footer ul li a:hover
{
	color: #FF9E15;
	background-color: transparent;
}


.icon-hs-facebook
{
	font-size: 50px;
	color: #EE7B0D;
	background-color: #fff;

	border-radius: 25px;
}

/* Media requests */
@media (max-width: 768px)
{
	.wr_phone_feedback_contacts
	{
		display: flex;
		align-items: flex-end;
		flex-direction: column;
	}

	.phone
	{
		margin-right: 15px;
	}

	.feedback,
	.contacts,
	.nav_menu
	{
		display: none;
	}


	.menu_mobile
	{
		display: flex;
	}

	.show_room
	{
		font-size: 32px
	}

	.wr_sect_form,
	.bl_name,
	.bl_tel,
	.bl_email,
	.bl_select_date,
	.bl_select_system
	{
		padding-right: 0;
	}

	.bl_name,
	.bl_tel,
	.bl_email
	{
		padding-left: 0;
	}

	.footer ul li a,
	.footer ul li
	{
		font-size: 14px;
		color: #fff;
	}
}

@media (max-width:480px)
{
	.phone
	{
		display: none;
	}

	.show_room
	{
		font-size: 24px;
	}

	form h2
	{
		font-size: 28px;	
	}

	.footer
	{
		flex-direction: column;
	}

	.wr_nav1,
	.wr_nav2,
	.wr_nav3
	{
		width:100%;
		padding-bottom: 10px;
	}
}